<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header" style="padding-left:15px; padding-right:90px;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("TutorialsApp", "Index", "Tutorials", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div id="sidebar">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Arts", "Index", "Tutorials", new { cat = "Arts" }, null)</li>
                <li>@Html.ActionLink("Computer", "Index", "Tutorials", new { cat = "Computer" }, null)</li>
                <li>@Html.ActionLink("Engineering", "Index", "Tutorials", new { cat = "Engineering" }, null)</li>
                <li>@Html.ActionLink("Management", "Index", "Tutorials", new { cat = "Management" }, null)</li>
                <li>@Html.ActionLink("Economic", "Index", "Tutorials", new { cat = "Economic" }, null)</li>
            </ul>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <p class="text-center">&copy; @DateTime.Now.Year - Tutorials.com</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
